[package]
name = "odin"
version = "2.1.0"
authors = ["mbround18"]
edition = "2021"
license = "BSD-3-Clause License"
description = "Valheim server manager"
readme = "README.md"
homepage = "https://github.com/mbround18/valheim-docker"
repository = "https://github.com/mbround18/valheim-docker"
keywords = ["cli", "valheim", "gameserver"]
categories = ["command-line-utilities"]
include = [
  "**/*.rs",
  "**/*.yaml",
  "Cargo.toml",
]


[[bin]]
name = "odin"
path = "main.rs"

[lib]
name = "odin"
path = "lib.rs"


[dependencies]
handlebars = "5"
dotenv = "0.15"
log = "0.4"
clap = { version = "4.5", features = [ "derive", "env" ] }
which = "*"
serde = { version = "1.0", features = ["derive"], default_features = false  }
sysinfo = { version = "0", default_features = false }
serde_json = "1.0"
daemonize = "0.5.0"
tar = "0.4"
flate2 = "1.0"
inflections = "1.1.1"
md5 = "0.7"
reqwest = { version = "0.12.4", default_features = false, features = ["blocking", "json", "rustls-tls"] }
chrono = "0.4"
zip = { version = "1.1.0" }
fs_extra = "1.3"
glob = "0.3"
a2s = "0.5"
serde_with = "3"
regex = "1"
users = "0.11.0"


[dev-dependencies]
once_cell = "1"
rand = "0.8"
serial_test = "3"

[dev-dependencies.cargo-husky]
version = "1.5.0"
default-features = false # Disable features which are enabled by default
features = ["run-for-all",	"precommit-hook", "run-cargo-fmt", "run-cargo-test", "run-cargo-clippy"]
