version: "3"
services:
  valheim:
    image: mbround18/valheim:latest
    environment:
      - PORT=30017
      - NAME="Created With Valheim Docker"
      - PASSWORD="12345"
      - TZ=America/Chicago
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - "2456:2456/udp"
      - "2457:2457/udp"
      - "2458:2458/udp"
    volumes:
    - ./tmp/saves:/home/steam/.config/unity3d/IronGate/Valheim
    - ./tmp/server:/home/steam/valheim
