services:
  valheim:
    image: mbround18/valheim:3
    environment:
      PORT: 2456
      NAME: "Created With Valheim Docker"
      PASSWORD: "Change Me! Please."
      TZ: "America/Los_Angeles"
      AUTO_UPDATE: 1
      UPDATE_ON_START: 0
      AUTO_UPDATE_SCHEDULE: "0 1 * * *"
      TYPE: Vanilla
    build:
      context: .
      dockerfile: ./Dockerfile
      target: valheim
    ports:
      - "2456:2456/udp"
      - "2457:2457/udp"
      - "2458:2458/udp"
    volumes:
      - ./tmp/saves:/home/steam/.config/unity3d/IronGate/Valheim
      - ./tmp/server:/home/steam/valheim
      - ./tmp/backups:/home/steam/backups
